.navigation {
  width: 100%;
  height: 40px;
  background-color: #eee;
}

.navigation {
  width: 100%;
  height: 40px;
  background-color: #eee;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
}

.navigation .logout {
  float: right;
}

.navigation li a , .logout {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: #ddd;
}

.navigation li a.selected {
  background-color: #ccc;
}

.packet {
  float:left;
  clear: both;
  margin-bottom: 5px;
  padding: 5px;
  margin-left: 10px;
}

.ports {
  float: left;
}

.timepic {
  width: 400px;
}